name: Deploy website on push

on: 
 push:
  branches:
   - main
  pull_request:
    branches:
      - main
  workflow_dispatch:


jobs:
 web-deploy:
  name: Deploy
  
  runs-on: ubuntu-latest
  steps:
   - name: Get latest code
     
     uses: actions/checkout@v2
   - name: Sync files
     uses: SamKirkland/FTP-Deploy-Action@4.1.0
     with:
      server: ftp.bharatsingh.dev
      username: ${{secrets.USERNAME}}
      password: ${{secrets.PASSWORD}}
      server-dir: /
